<h1><%= t 'clinics_list'%></h1>

<table>
  <thead>
    <tr>
      <th><%= t 'clinic_name'%></th>
      <th><%= t 'supervisor'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinics.each do |clinic| %>
      <tr>
        <td><%= clinic.name %></td>
        <td><%= clinic.supervisor ? clinic.supervisor.email : "" %></td>
        <td><%= link_to (t 'show'), clinic %></td>
        <td><%= link_to (t 'edit'), edit_clinic_path(clinic) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin %>
  <%= link_to (t 'new_clinic'), new_clinic_path %>
<% end %>
