<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'clinic_name'%>:</strong>
  <%= @clinic.name %>
</p>

<p>
  <strong><%= t 'supervisor'%>:</strong>
  <% if @clinic.supervisor %>
  	<%= @clinic.supervisor.email %>
  <% end %>
</p>

<%= link_to (t 'edit'), edit_clinic_path(@clinic) %> |
<%= link_to (t 'back'), clinics_path %>
