<h1>Listing treatments</h1>

<table>
  <thead>
    <tr>
      <th>Treatment history</th>
      <th>Type</th>
      <th>Count</th>
      <th>Max avoidance day</th>
      <th>Descriptin</th>
      <th>In month used</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= treatment.treatment_history %></td>
        <td><%= treatment.type %></td>
        <td><%= treatment.count %></td>
        <td><%= treatment.max_avoidance_day %></td>
        <td><%= treatment.descriptin %></td>
        <td><%= treatment.in_month_used %></td>
        <td><%= link_to 'Show', treatment %></td>
        <td><%= link_to 'Edit', edit_treatment_path(treatment) %></td>
        <td><%= link_to 'Destroy', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treatment', new_treatment_path %>
