<section class="section section-center section-testimonial loaded">
  <div class='container'>
    
    <div class='row'>
      <div class='col-md-3'>
      </div>

      <div class='col-md-6 col-sm-6'>
      <div class='panel panel-primary '>
        <div class="panel-body">
          <p>
            <strong><%= t 'type'%>:</strong>
            <%= t @treatment.treatment_type %>
          </p>

          <p>
            <strong><%= t 'count'%>:</strong>
            <%= @treatment.count %>
          </p>

          <p>
            <strong><%= t 'max_avoidance_day'%>:</strong>
            <%= @treatment.max_avoidance_day %>
          </p>

          <p>
            <strong><%= t 'description'%>:</strong>
            <%= @treatment.description %>
          </p>

          <p>
            <strong><%= t 'in_month_used'%>:</strong>
            <%= @treatment.in_month_used %>
          </p>
        </div>
      </div>
      <%= link_to (t 'edit'), edit_patient_treatment_history_treatment_path(@patient,@treatment_history,@treatment) , :class => "btn btn-primary" %>
      <%= link_to (t 'back'), patient_treatment_history_path(@patient,@treatment_history), :class => "btn btn-primary" %>
      </div>
      <div class='col-md-3'>
      </div>
    </div>
  </div>
</section>