<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= "\u200f #{@profile.errors.count} " + ( t 'pluralize_error') + " " +  (t  'form_error_first_part') + " " + (t 'profile') +" "+ (t 'form_error_second_part')%></h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t 'first_name' %><br>
    <%= f.text_field :first_name,:class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t 'last_name' %><br>
    <%= f.text_field :last_name,:class=>"reverse-dir"  %>
  </div>

  <% if @profile.user.admin %>
    <div class="field">
      <%= t 'admin' %><br>
      <%= check_box_tag :admin, 1, @profile.user.admin %>
    </div>
  <% end %>
  <div class="field">
    <%= t 'user' %><br>
    <%= @profile.user.email %>
  </div>
  <div class="actions">
    <%= f.submit (t 'submit', :default => "Submit") , :class => "btn btn-default btn-block"%>
  </div>
<% end %>
