<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'first_name'%>:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong><%= t 'last_name'%>:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong><%= t 'user'%></strong>
  <%= @profile.user %>
</p>

<%= link_to (t 'edit'), edit_profile_path(@profile) %> |
<%= link_to (t 'back'), profiles_path %>
