<section class="section section-center section-testimonial loaded">
  <div class='container'>
    
    <div class='row'>
      <div class='col-md-3'>
      </div>

      <div class='col-md-6 col-sm-6'>
      <div class='panel panel-primary '>
          <p>
              <strong><%= t 'first_name'%>:</strong>
              <%= @profile.first_name %>
          </p>

          <p>
            <strong><%= t 'last_name'%>:</strong>
            <%= @profile.last_name %>
          </p>

          <p>
            <strong><%= t 'user'%></strong>
            <%= @profile.user.email %>
          </p>


      </div>
      <%= link_to (t 'edit'), edit_profile_path(@profile), :class => "btn btn-primary" %> 
      <% if current_user and current_user.admin %>

      <%= link_to (t 'back'), profiles_path, :class => "btn btn-primary" %>
      <% end %>



      </div>
      <div class='col-md-3'>
      </div>
    </div>
  </div>
</section>