<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'first_name'%>:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong><%= t 'last_name'%>:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong><%= t 'user'%></strong>
  <%= @profile.user.email %>
</p>

<%= link_to (t 'edit'), edit_profile_path(@profile) %> 
<% if current_user and current_user.admin %>
|
<%= link_to (t 'back'), profiles_path %>
<% end %>
