<%= form_for(@abusing_profile) do |f| %>
  <% if @abusing_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@abusing_profile.errors.count, "error") %> prohibited this abusing_profile from being saved:</h2>

      <ul>
      <% @abusing_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t 'cost_per_month' %><br>
    <%= f.number_field :cost_per_month %>
  </div>
  <div class="field">
    <%= t 'overdose_count' %><br>
    <%= f.number_field :overdose_count %>
  </div>
  <div class="field">
    <%= t 'freakout_count' %><br>
    <%= f.number_field :freakout_count %>
  </div>
  <div class="field">
    <%= t 'patient' %><br>
    <%= f.text_field :patient_id %>
  </div>
  <div class="actions">
    <%= f.submit (t 'submit', :default => "Submit")%>
  </div>
<% end %>
