<h1><%= t 'abusing_profiles_list'%></h1>
<table>
  <thead>
    <tr>
      <th><%= t 'cost_per_month'%></th>
      <th><%= t 'overdose_count'%></th>
      <th><%= t 'freakout_count'%></th>
      <th><%= t 'patient'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abusing_profiles.each do |abusing_profile| %>
      <tr>
        <td><%= abusing_profile.cost_per_month %></td>
        <td><%= abusing_profile.overdose_count %></td>
        <td><%= abusing_profile.freakout_count %></td>
        <td><%= abusing_profile.patient %></td>
        <td><%= link_to (t 'show'), abusing_profile %></td>
        <td><%= link_to (t 'edit'), edit_abusing_profile_path(abusing_profile) %></td>
        <td><%= link_to (t 'destroy'), abusing_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t 'new_abusing_profile'), new_abusing_profile_path %>
