<h1>Listing abusing_profiles</h1>

<table>
  <thead>
    <tr>
      <th>Cost per month</th>
      <th>Overdose count</th>
      <th>Freakout count</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abusing_profiles.each do |abusing_profile| %>
      <tr>
        <td><%= abusing_profile.cost_per_month %></td>
        <td><%= abusing_profile.overdose_count %></td>
        <td><%= abusing_profile.freakout_count %></td>
        <td><%= abusing_profile.patient %></td>
        <td><%= link_to 'Show', abusing_profile %></td>
        <td><%= link_to 'Edit', edit_abusing_profile_path(abusing_profile) %></td>
        <td><%= link_to 'Destroy', abusing_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Abusing profile', new_abusing_profile_path %>
