<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'cost_per_month'%>:</strong>
  <%= @abusing_profile.cost_per_month %>
</p>

<p>
  <strong><%= t 'overdose_count'%>:</strong>
  <%= @abusing_profile.overdose_count %>
</p>

<p>
  <strong><%= t 'freakout_count'%>:</strong>
  <%= @abusing_profile.freakout_count %>
</p>

<p>
  <strong><%= t 'patient'%>:</strong>
  <%= @abusing_profile.patient %>
</p>

<%= link_to (t 'edit'), edit_abusing_profile_path(@abusing_profile) %> |
<%= link_to (t 'back'), abusing_profiles_path %>
