  <div id="rectangle_properties">
    <%= form_for(:rectangle, :url => update_rectangle_path(rectangle), :id => "rectangle_form", :remote => true ) do |f| %>

  <div class="field" id="state">
    <%= f.label :state %><br>
    <%= f.number_field :state , :id=>"#{form_index}_state"%>
  </div>
  <div class="field" id="is_clicked">
    <%= f.label :is_clicked %><br>
    <%= f.number_field :is_clicked , :id=>"#{form_index}_is_clicked"%>
  </div>
  <div class="field" id="display_time">
    <%= f.label :display_time %><br>
    <%= f.number_field :display_time , :id=>"#{form_index}_display_time"%>
  </div>
  <div class="field" id="response_time">
    <%= f.label :response_time %><br>
    <%= f.number_field :response_time , :id=>"#{form_index}_response_time"%>
  </div>
  <div class="field" id="reaction_time">
    <%= f.label :reaction_time %><br>
    <%= f.number_field :reaction_time , :id=>"#{form_index}_reaction_time"%>
  </div>
      <input type="submit" value="Save Rectangle" name="commit" id="<%="#{form_index}"%>_submit_rectangle">
      </input>
    <% end %>
</div>