<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmed:</strong>
  <%= @task.confirmed %>
</p>

<p>
  <strong>Study:</strong>
  <%= @task.study %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @task.patient %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
