<section class="section section-center section-testimonial loaded">
  <div class='container'>
    
    <div class='row'>
      <div class='col-md-3'>
      </div>

      <div class='col-md-6 col-sm-6'>
      <div class='panel panel-primary '>
        <div class="panel-body">
          <p>
            <strong><%= t "study" %>:</strong>
            <%= @task.study.description %>
          </p>

          <p>
            <strong><%= t "patient" %>:</strong>
            <%= @task.patient.name %>
          </p>
        </div>
      </div>
      <%= link_to (t 'back'), tasks_path, :class => "btn btn-primary" %>
      </div>
      <div class='col-md-3'>
        <div class='panel panel-info '>
            <div class="panel-heading">
              <h3 class="panel-title">
                 <%= t 'task_test_list'%>
              </h3>
            </div>
            <div class="panel-body">
              <table class='table table-striped table-bordered text-center'>
                <thead>
                  <tr>
                    <th class='text-center'><%= t 'test_name'%></th>
                    <th class='text-center'><%= t 'finished'%></th>
                    <th class='text-center'></th>
                  </tr>
                </thead>

                <tbody>
                  <% @task.tests.each do |test| %>
                    <tr>
                      <td> <%= t test.specific.class.name.downcase %></td> 
                      <td>
                          <% if test.specific.finished %>
                           <%= image_tag("tik.png", height: '32', width: '32')%>
                          <% else %>
                           <%= image_tag("cross.png", height: '32', width: '32')%> 
                          <% end %>
                      </td>                  
                      <td> <%= link_to (t 'show'), test.specific, :class => "btn btn-primary" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>