<section class="section section-center section-testimonial loaded">

  
    <div class='container'>
      <div class='row'>
        <div class='col-md-3'>
        </div>

        <div class='col-md-6'>
          <div class='panel panel-primary '>
            <div class="panel-heading">
              <h3 class="panel-title">
                 <%= t 'gonogo'%>
              </h3>
            </div>
            <div class="panel-body">
              <% if @gonogo.finished %>
                <%= render 'rectangles/index' %>
              <% else %>
                <%= t 'gonogo_description' %>
              <% end %>
            </div>
          </div>
        </div>

        <div class='col-md-3'>
        </div>
      </div>
      <% if @gonogo.finished %>
        <%= link_to (t 'back'), @gonogo.task, :class => "btn btn-primary" %>
        <%= link_to (t 'reset'), restart_gonogo_path(@gonogo), :method => :post, :class => "btn btn-primary" , data: { confirm: (t 'are_you_sure') } %>
      <% else %>
        <%= link_to (t 'start'), edit_gonogo_path(@gonogo), :class => "btn btn-primary" %>
        <%= link_to (t 'back'), @gonogo.task, :class => "btn btn-primary" %>
      <% end %>
  </div>
  

</section>