<%= form_for(@stroop) do |f| %>
  <% if @stroop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stroop.errors.count, "error") %> prohibited this stroop from being saved:</h2>

      <ul>
      <% @stroop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :total_items %><br>
    <%= f.number_field :total_items %>
  </div>
  <div class="field">
    <%= f.label :correct_items %><br>
    <%= f.number_field :correct_items %>
  </div>
  <div class="field">
    <%= f.label :finished %><br>
    <%= f.check_box :finished %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
