<div class='container'>
  
  <div class='row'>
    <div class='col-md-3'>
    </div>
    <div class='col-md-6 col-sm-6'>
      <h1 class='section-title'><%= t 'stroops_list'%></h1>
      <div class='panel panel-primary '>


        <table class='table table-striped table-bordered text-center'>
          <thead>
            <tr>
              <th class='text-center'><%= t 'duration'%></th>
              <th class='text-center'><%= t 'total_items'%></th>
              <th class='text-center'><%= t 'correct_items'%></th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @stroops.each do |stroop| %>
              <tr>
                <td><%= stroop.duration %></td>
                <td><%= stroop.total_items %></td>
                <td><%= stroop.correct_items %></td>

                <td><%= link_to (t 'show'), stroop , :class => "btn btn-primary"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>



      </div>
      
      <div class='text-center'>
      </div>
      </div>
    <div class='col-md-3'>
    </div>
  </div>
</div>
