<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @stroop.duration %>
</p>

<p>
  <strong>Total items:</strong>
  <%= @stroop.total_items %>
</p>

<p>
  <strong>Correct items:</strong>
  <%= @stroop.correct_items %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @stroop.finished %>
</p>

<%= link_to 'Edit', edit_stroop_path(@stroop) %> |
<%= link_to 'Back', stroops_path %>
