<section id="portfolio" class="section section-portfolio">
              <div class="container">
                <h2 class="section-title"><span>یه همچین جایی باید ویدئو‌های آموزشی قرار بدیم</span></h2>
                <ul id="filters">
                  <li><a href="#" data-filter="*">همه</a></li>
                    <li>/</li>
                    <li><a href="#" data-filter=".web">طراحی وب</a></li>
                    <li>/</li>
                    <li><a href="#" data-filter=".graphic">طراحی گرافیک</a></li>
                    <li>/</li>
                    <li><a href="#" data-filter=".photography">عکاسی</a></li>
                    <li>/</li>
                    <li><a href="#" data-filter=".motion">برنامه نویسی</a></li>
                    <li>/</li>
                    <li><a href="#" data-filter=".branding">بهینه سازی وب</a></li>
                </ul>

                <div class="portfolio-isotope row">
                    <article class="col-md-3 col-sm-6 portfolio-item branding photography web">
                      <div class="entry-thumbnail">
                          
                            <%= video_tag "short_film.mp4", :size => "240x180", :controls => true %>
                            <span class="overlay"><i class="fa fa-plus"></i></span>
                          </a>
                      </div>
                    </article>
                    <article class="col-md-3 col-sm-6 portfolio-item motion graphic">
                      <div class="entry-thumbnail">
                          
                            <%= video_tag "short_film.mp4", :size => "240x180", :controls => true %>
                            <span class="overlay"><i class="fa fa-plus"></i></span>
                          </a>
                      </div>
                    </article>
                    <article class="col-md-3 col-sm-6 portfolio-item branding web">
                      <div class="entry-thumbnail">
                          
                            <%= video_tag "short_film.mp4", :size => "240x180", :controls => true %>
                            <span class="overlay"><i class="fa fa-plus"></i></span>
                          </a>
                      </div>
                    </article>
                    <article class="col-md-3 col-sm-6 portfolio-item photography graphic">
                      <div class="entry-thumbnail">
                          
                            <%= video_tag "short_film.mp4", :size => "240x180", :controls => true %>
                            <span class="overlay"><i class="fa fa-plus"></i></span>
                          </a>
                      </div>
                    </article>
                    <article class="col-md-3 col-sm-6 portfolio-item motion web">
                      <div class="entry-thumbnail">
                          
                            <%= video_tag "short_film.mp4", :size => "240x180", :controls => true %>
                            <span class="overlay"><i class="fa fa-plus"></i></span>
                          </a>
                      </div>
                    </article>
                    <article class="col-md-3 col-sm-6 portfolio-item branding graphic">
                      <div class="entry-thumbnail">
                          
                            <%= video_tag "short_film.mp4", :size => "240x180", :controls => true %>
                            <span class="overlay"><i class="fa fa-plus"></i></span>
                          </a>
                      </div>
                    </article>
                    <article class="col-md-3 col-sm-6 portfolio-item motion photography web">
                      <div class="entry-thumbnail">
                          
                            <%= video_tag "short_film.mp4", :size => "240x180", :controls => true %>
                            <span class="overlay"><i class="fa fa-plus"></i></span>
                          </a>
                      </div>
                    </article>
                    <article class="col-md-3 col-sm-6 portfolio-item photography motion branding graphic">
                      <div class="entry-thumbnail">
                          
                            <%= video_tag "short_film.mp4", :size => "240x180", :controls => true %>
                            <span class="overlay"><i class="fa fa-plus"></i></span>
                          </a>
                      </div>
                    </article>
                </div>

            </div>
        </section>