<%= form_for([@patient,@abusing_profile,@abusing]) do |f| %>
  <% if @abusing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@abusing.errors.count, "error") %> prohibited this abusing from being saved:</h2>

      <ul>
      <% @abusing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t 'drug_type' %><br>
    <%= f.select :drug_type, options_for_select(Abusing.drug_types.collect { |s| [I18n.t(s[0]), s[0]] }, selected: @abusing.drug_type), {} ,:class=>"reverse-dir" %>

  </div>
  <div class="field">
    <%= t 'first_use_age' %><br>
    <%= f.number_field :first_use_age,:class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t 'continuous_usage_duration' %><br>
    <%= f.number_field :continuous_usage_duration,:class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t 'count' %><br>
    <%= f.number_field :count,:class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t 'type' %><br>
    <%= f.select :abusing_type, options_for_select(Abusing.abusing_types.collect { |p| [I18n.t(p[0]), p[0]] }, selected: @abusing.abusing_type), {} ,:class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t 'description' %><br>
    <%= f.text_area :description,:class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t 'is_mainspring' %><br>
    <%= f.check_box :is_mainspring,:class=>"reverse-dir" %>
  </div>
  <div class="actions">
    <%= f.submit (t 'submit', :default => "Submit"),:class=>"btn btn-default smooth-scroll"%>
  </div>
<% end %>
