<%= form_for(@abusing) do |f| %>
  <% if @abusing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@abusing.errors.count, "error") %> prohibited this abusing from being saved:</h2>

      <ul>
      <% @abusing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t 'abusing_profile' %><br>
    <%= f.text_field :abusing_profile_id %>
  </div>
  <div class="field">
    <%= t 'drug_type' %><br>
    <%= f.number_field :drug_type %>
  </div>
  <div class="field">
    <%= t 'first_use_age' %><br>
    <%= f.number_field :first_use_age %>
  </div>
  <div class="field">
    <%= t 'continuous_usage_duration' %><br>
    <%= f.number_field :continuous_usage_duration %>
  </div>
  <div class="field">
    <%= t 'count' %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= t 'type' %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= t 'description' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= t 'is_mainspring' %><br>
    <%= f.check_box :is_mainspring %>
  </div>
  <div class="actions">
    <%= f.submit (t 'submit', :default => "Submit")%>
  </div>
<% end %>
