<h1><%= t 'abusings_list'%></h1>

<table>
  <thead>
    <tr>
      <th><%= t 'abusing_profile'%></th>
      <th><%= t 'drug_type'%></th>
      <th><%= t 'first_use_age'%></th>
      <th><%= t 'continuous_usage_duration'%></th>
      <th><%= t 'count'%></th>
      <th><%= t 'type'%></th>
      <th><%= t 'description'%></th>
      <th><%= t 'is_mainspring'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abusings.each do |abusing| %>
      <tr>
        <td><%= abusing.abusing_profile %></td>
        <td><%= I18n.t(abusing.drug_type) %></td>
        <td><%= abusing.first_use_age %></td>
        <td><%= abusing.continuous_usage_duration %></td>
        <td><%= abusing.count %></td>
        <td><%= I18n.t(abusing.abusing_type) %></td>
        <td><%= abusing.description %></td>
        <td><%= abusing.is_mainspring %></td>
        <td><%= link_to (t 'show'), abusing %></td>
        <td><%= link_to (t 'edit'), edit_abusing_path(abusing) %></td>
        <td><%= link_to (t 'destroy'), abusing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t 'new_abusing'), new_abusing_path %>
