<p id="notice"><%= notice %></p>



<%= link_to 'Edit', edit_study_test_detail_path(@study,@test_detail) %> |
<%= link_to 'Back', study_test_details_path(@study) %>



<section class="section section-center section-testimonial loaded">
  <div class='container'>
    
    <div class='row'>
      <div class='col-md-3'>
      </div>

      <div class='col-md-6 col-sm-6'>
      <div class='panel panel-primary '>
        <div class="panel-body">
          <p>
            <strong><%= t "name"%>:</strong>
            <%= @test_detail.name %>
          </p>

          <p>
            <strong><%= t "count"%>:</strong>
            <%= @test_detail.count %>
          </p>

          <p>
            <strong><%= t "part_count"%>:</strong>
            <%= @test_detail.part_count %>
          </p>

          <p>
            <strong><%= t "study"%>:</strong>
            <%= @test_detail.study.description %>
          </p>

        </div>
      </div>

      <%= link_to (t 'edit'), edit_study_test_detail_path(@study,@test_detail), :class => "btn btn-primary" %>
      <%= link_to (t 'back'), study_test_details_path(@study), :class => "btn btn-primary" %>
      </div>
      <div class='col-md-3'>
      </div>
    </div>
  </div>
</section>