<section class="section section-center section-testimonial loaded">
  <div class='container'>
    
    <div class='row'>
      <div class='col-md-3'>
      </div>

      <div class='col-md-6 col-sm-6'>
      <div class='panel panel-primary '>
        <div class="panel-body">
          <p>
            <strong><%= t"admin" %>:</strong>
            <%= @study.admin.profile.name %>
          </p>

          <p>
            <strong><%= t"description"%>:</strong>
            <%= @study.description %>
          </p>

          

          <p>
            <%= link_to (t 'study_examiners_list'), get_examiners_study_path(@study), :class => "btn btn-primary" %>
          </p>

          <% unless @study.finalized  %>
            <p>
              <%= link_to (t 'test_details_list'), study_test_details_path(@study), :class => "btn btn-primary" %>
            </p>
            <p>
              <%= link_to (t 'finalize'), finalize_study_path(@study), :class => "btn btn-primary" , :method => :post, data: { confirm: (t 'are_you_sure') }%>
            </p>
          <% else %>
            <p>
              <strong><%= t"this_study_is_finalized_and_you_cant_change_related_test_details"%></strong>
            </p>

            <p>
              <%= link_to (t 'study_patients_list'), get_patients_study_path(@study), :class => "btn btn-primary" %>
            </p>

          <% end %>
        </div>
      </div>

      <%= link_to (t 'edit'), edit_study_path(@study), :class => "btn btn-primary" %>
      <%= link_to (t 'back'), studies_path, :class => "btn btn-primary" %>
      </div>
      <div class='col-md-3'>
      </div>
    </div>
  </div>
</section>