<section class="section section-center section-testimonial loaded">
  <div class='container'>
    
    <div class='row'>

      <div class='col-md-3'>

      </div>


      <div class='col-md-6 col-sm-6'>
      <div class='panel panel-primary '>
        <div class="panel-body">
          <p>
            <strong><%= t"admin" %>:</strong>
            <%= @study.admin.profile.name %>
          </p>

          <p>
            <strong><%= t"description"%>:</strong>
            <%= @study.description %>
          </p>

          <% unless @study.finalized  %>
            <p>
              <%= link_to (t 'finalize'), finalize_study_path(@study), :class => "btn btn-primary" , :method => :post, data: { confirm: (t 'are_you_sure') }%>
            </p>
          <% else %>
            <p>
              <strong><%= t"this_study_is_finalized_and_you_cant_change_related_test_details"%></strong>
            </p>
          <% end %>
        </div>
      </div>

      <%= link_to (t 'edit'), edit_study_path(@study), :class => "btn btn-primary" %>
      <%= link_to (t 'back'), studies_path, :class => "btn btn-primary" %>
      </div>
      <div class='col-md-3'>
      </div>
    </div>


  </div>
</div>
<section class="section section-center section-testimonial loaded">
  <div class='container'>


    <div class='row'>

      <div class='col-md-3'>
        <% if @study.finalized %>
          <div class='panel panel-info '>
            <div class="panel-heading">
              <h3 class="panel-title">
                 <%= t 'study_patients_list'%>
              </h3>
            </div>
            <div class="panel-body">
              <table class='table table-striped table-bordered text-center'>
                <thead>
                  <tr>
                    <th class='text-center'><%= t 'name'%></th>
                  </tr>
                </thead>

                <tbody>
                  <% @study.tasks.each do |task| %>
                    <tr>
                      <td> <%= task.patient.name %></td>                  
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= link_to (t 'study_patients_list'), get_patients_study_path(@study), :class => "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>

      <div class='col-md-4'>
        <div class='panel panel-info '>
          <div class="panel-heading">
            <h3 class="panel-title">
               <%= t 'study_examiners_list'%>
            </h3>
          </div>
          <div class="panel-body">
            <table class='table table-striped table-bordered text-center'>
              <thead>
                <tr>
                  <th class='text-center'><%= t 'email'%></th>
                  <th class='text-center'><%= t 'name'%></th>
                </tr>
              </thead>

              <tbody>
                <% @study.users.each do |examiner| %>
                  <tr>
                    <td> <%= examiner.email %></td> 
                    <td> 
                        <%= examiner.profile.name %>
                    </td>                  
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to (t 'study_examiners_list'), get_examiners_study_path(@study), :class => "btn btn-primary" %>
          </div>
        </div>
      </div>



      <div class='col-md-3'>
        <div class='panel panel-info '>
          <div class="panel-heading">
            <h3 class="panel-title">
               <%= t 'study_ddt_questions_list'%>
            </h3>
          </div>
          <div class="panel-body">
            
            <table class='table table-striped table-bordered text-center'>
              <thead>
                <tr>
                  <th class='text-center'><%= t 'question_text'%></th>
                </tr>
              </thead>

              <tbody>
                <% @study.ddt_questions.each do |ddt_question| %>
                  <tr >
                    <td>
                      <% if ddt_question.question_type == "deterministic" %>
                        <%= "#{t 'ddt_deter_first_part'} #{ddt_question.definite_value} #{t 'ddt_deter_second_part'} #{ddt_question.indefinite_value } #{t 'ddt_deter_third_part'} #{ddt_question.risk_rate } #{t 'ddt_deter_forth_part'}" %>
                      <% else %>
                        <%= "#{t 'ddt_prob_first_part'} #{ddt_question.definite_value } #{t 'ddt_prob_second_part'} #{ddt_question.indefinite_value } #{t 'ddt_prob_third_part'} #{ddt_question.risk_rate } #{t 'ddt_prob_forth_part'}  " %>
                      <% end %>

                    </td>                  
                  </tr>
                <% end %>
              </tbody>
            </table>

            <% unless @study.finalized %>
              <%= link_to (t 'study_ddt_questions_list'), get_ddt_questions_study_path(@study), :class => "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class='col-md-2'>
          <div class='panel panel-info '>
            <div class="panel-heading">
              <h3 class="panel-title">
                 <%= t 'study_test_details_list'%>
              </h3>
            </div>
            <div class="panel-body">
              <table class='table table-striped table-bordered text-center'>
                <thead>
                  <tr>
                    <th class='text-center'><%= t 'test_name'%></th>
                    <th class='text-center'><%= t 'part_count'%></th>
                  </tr>
                </thead>

                <tbody>
                  <% @study.test_details.each do |test_detail| %>
                    <tr>
                      <td> <%= test_detail.name %></td> 
                      <td> 
                        <% if test_detail.name == Ddt.name %>
                          <%= test_detail.study.ddt_questions.count %>
                        <% else %>
                          <%= test_detail.part_count %>
                        <% end %>
                      </td>                  
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <% unless @study.finalized %>
              <%= link_to (t 'test_details_list'), study_test_details_path(@study), :class => "btn btn-primary" %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>