<%= form_for([@patient,@treatment_history]) do |f| %>
  <% if @treatment_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= "\u200f #{@treatment_history.errors.count} " + ( t 'pluralize_error') + " " +  (t  'form_error_first_part') + " " + (t 'treatment_history') +" "+ (t 'form_error_second_part')%></h2>
      <ul>
      <% @treatment_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t 'patient' %> :
    <%= "#{@treatment_history.patient.first_name} #{@treatment_history.patient.last_name}"%>
  </div>
  <div class="field">
    <%= t ('is_cured') %><br>
    <%= f.check_box :is_cured, :class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t ('in_month_treated') %><br>
    <%= f.check_box :in_month_treated, :class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t ('in_year_treat_count') %><br>
    <%= f.number_field :in_year_treat_count, :class=>"reverse-dir", :onchange => "checkIfNumeric.call(this);" %>
  </div>
  <div class="field">
    <%= t ('na_session') %><br>
    <%= f.check_box :na_session, :class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t ('total') %><br>
    <%= f.number_field :total, :class=>"reverse-dir", :onchange => "checkIfNumeric.call(this);" %>
  </div>
  <div class="actions">
    <%= f.submit (t 'submit', :default => "Submit"), :class => "btn btn-default smooth-scroll"%>
  </div>
<% end %>
