<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @treatment_history.patient %>
</p>

<p>
  <strong>Is cured:</strong>
  <%= @treatment_history.is_cured %>
</p>

<p>
  <strong>In month treated:</strong>
  <%= @treatment_history.in_month_treated %>
</p>

<p>
  <strong>In year treat count:</strong>
  <%= @treatment_history.in_year_treat_count %>
</p>

<p>
  <strong>Na session:</strong>
  <%= @treatment_history.na_session %>
</p>

<p>
  <strong>Total:</strong>
  <%= @treatment_history.total %>
</p>

<%= link_to 'Edit', edit_treatment_history_path(@treatment_history) %> |
<%= link_to 'Back', treatment_histories_path %>
