<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= "\u200f #{@patient.errors.count} " + ( t 'pluralize_error') + " " +  (t  'form_error_first_part') + " " + (t 'patient') +" "+ (t 'form_error_second_part')%></h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t 'first_name' %><br>
    <%= f.text_field :first_name,:class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t 'last_name' %><br>
    <%= f.text_field :last_name,:class=>"reverse-dir" %>
  </div>
  <div class="field">
    <%= t 'clinic' %><br>
    <%= select_tag "clinic_ids", options_from_collection_for_select(@related_clinics,"id","name"),  {:multiple => true, :class => "reverse-dir"}%>
  </div>
  
  <div class="actions">
    <%= f.submit (t 'submit', :default => "Submit"), :class => "btn btn-default smooth-scroll"%>
  </div>
<% end %>
