<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'first_name'%>:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong><%= t 'last_name'%>:</strong>
  <%= @patient.last_name %>
</p>

<%= link_to (t 'edit'), edit_patient_path(@patient) %> |
<%= link_to (t 'back'), patients_path %>
