





<section class="section section-center section-testimonial loaded">
  <div class='container'>
    
    <div class='row'>
      <div class='col-md-3'>
      </div>

      <div class='col-md-6 col-sm-6'>
      <div class='panel panel-primary '>
        <div class="panel-body">
          <p>
            <strong><%= t 'first_name'%>:</strong>
            <%= @patient.first_name %>
          </p>

          <p>
            <strong><%= t 'last_name'%>:</strong>
            <%= @patient.last_name %>
          </p>
        </div>
      </div>

      <%= link_to (t 'edit'), edit_patient_path(@patient) , :class => "btn btn-primary" %>
      <%= link_to (t 'back'), patients_path, :class => "btn btn-primary" %>
      <% if @patient.abusing_profile %>
       <%= link_to (t "abusing_profile"), patient_abusing_profile_path(@patient,@patient.abusing_profile) , :class => "btn btn-primary"%> 
      <% else %>
       <%= link_to (t "new_abusing_profile"), new_patient_abusing_profile_path(@patient), :class => "btn btn-primary" %> 
      <% end %>  
      

      <% if @patient.basic_demographic %>
       <%= link_to (t "basic_demographic"), patient_basic_demographic_path(@patient,@patient.basic_demographic) , :class => "btn btn-primary"%> 
      <% else %>
       <%= link_to (t "new_basic_demographic"), new_patient_basic_demographic_path(@patient), :class => "btn btn-primary" %> 
      <% end %>  
      

      <% if @patient.treatment_history %>
       <%= link_to (t "treatment_history"), patient_treatment_history_path(@patient,@patient.treatment_history) , :class => "btn btn-primary"%> 
      <% else %>
       <%= link_to (t "new_treatment_history"), new_patient_treatment_history_path(@patient), :class => "btn btn-primary" %> 
      <% end %>  
      


      </div>
      <div class='col-md-3'>
      </div>
    </div>
  </div>
</section>