<section class="section section-center section-testimonial loaded">

  
    <div class='container'>
      <div class='row'>
        <div class='col-md-3'>
        </div>

        <div class='col-md-6'>
          <div class='panel panel-primary '>
            <div class="panel-heading">
              <h3 class="panel-title">
                 <%= t 'bart'%>
              </h3>
            </div>
            <div class="panel-body">
              <% if @bart.finished %>
                <%= render 'balloons/index' %>
              <% else %>
                <%= t 'bart_description' %>
                

              <% end %>
            </div>
          </div>
        </div>

        <div class='col-md-3'>
        </div>
      </div>
      <% if @bart.finished %>
        <%= link_to (t 'back'), @bart.task, :class => "btn btn-primary" %>
        <%= link_to (t 'reset'), restart_bart_path(@bart), :method => :post, :class => "btn btn-primary", data: { confirm: (t 'are_you_sure') }  %>
      <% else %>
        <%= link_to (t 'start'), edit_bart_path(@bart), :class => "btn btn-primary" %>
        <%= link_to (t 'back'), @bart.task, :class => "btn btn-primary" %>
      <% end %>
  </div>
  

</section>