<section class="section section-center section-testimonial loaded">
  <div class='container'>
    
    <div class='row'>
      <div class='col-md-3'>
      </div>

      <div class='col-md-6 col-sm-6'>
      <div class='panel panel-primary '>
        <div class="panel-body">
          <p>
            <strong><%= t 'definite_value' %>:</strong>
            <%= @ddt_question.definite_value %>
          </p>

          <p>
            <strong><%= t 'indefinite_value' %>:</strong>
            <%= @ddt_question.indefinite_value %>
          </p>

          <p>
            <strong><%= t 'risk_rate' %>:</strong>
            <%= @ddt_question.risk_rate %>
          </p>

          <p>
            <strong><%= t 'question_type' %>:</strong>
            <%= t @ddt_question.question_type %>
          </p>
          <% if @ddt_question.question_type == DdtQuestion.question_types["deterministic"] %>
            <p>
              <strong><%= t 'question_text' %>:</strong>
              <%= "#{t 'ddt_deter_first_part'} #{@ddt_question.definite_value} #{t 'ddt_deter_second_part'} #{@ddt_question.injectinit { |mem, var|  } } #{t 'ddt_deter_third_part'} #{@ddt_question.risk_rate } #{t 'ddt_deter_forth_part'}" %>
            </p>
          <% else %>
            <p>
              <strong><%= t 'question_text' %>:</strong>
              <%= "#{t 'ddt_prob_first_part'} #{@ddt_question.definite_value } #{t 'ddt_prob_second_part'} #{@ddt_question.indefinite_value } #{t 'ddt_prob_third_part'} #{@ddt_question.risk_rate } #{t 'ddt_prob_forth_part'}  " %>
            </p>

          <% end %>


        </div>
      </div>

      <%= link_to (t 'edit'), edit_ddt_question_path(@ddt_question), :class => "btn btn-primary" %>
      <%= link_to (t 'back'), ddt_questions_path, :class => "btn btn-primary" %>
      </div>
      <div class='col-md-3'>
      </div>
    </div>
  </div>
</section>