<%= form_for(@basic_demographic) do |f| %>
  <% if @basic_demographic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basic_demographic.errors.count, "error") %> prohibited this basic_demographic from being saved:</h2>

      <ul>
      <% @basic_demographic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t 'patient' %><br>
    <%= f.text_field :patient_id %>
  </div>
  <div class="field">
    <%= t 'file_number' %><br>
    <%= f.number_field :file_number %>
  </div>
  <div class="field">
    <%= t 'private_code' %><br>
    <%= f.number_field :private_code %>
  </div>
  <div class="field">
    <%= t 'gender' %><br>
    <%= f.select :gender, options_for_select(BasicDemographic.genders.collect { |s| [I18n.t(s[0]), s[0]] }, selected: @basic_demographic.gender), {}  %>
  </div>
  <div class="field">
    <%= t 'year_of_birth' %><br>
    <%= f.number_field :year_of_birth %>
  </div>
  <div class="field">
    <%= t 'interview_date' %><br>
    <%= f.date_select :interview_date %>
  </div>
  <div class="field">
    <%= t 'marital_status' %><br>
    <%= f.select :marital_status, options_for_select(BasicDemographic.marital_statuses.collect { |s| [I18n.t(s[0]), s[0]] }, selected: @basic_demographic.marital_status), {}  %>
  </div>
  <div class="field">
    <%= t 'educational_year' %><br>
    <%= f.number_field :educational_year %>
  </div>
  <div class="actions">
    <%= f.submit (t 'submit', :default => "Submit"), :class => "btn btn-default smooth-scroll"%>
  </div>
<% end %>
