<%= form_for([@patient,@basic_demographic]) do |f| %>
  <% if @basic_demographic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basic_demographic.errors.count, "error") %> prohibited this basic_demographic from being saved:</h2>

      <ul>
      <% @basic_demographic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t 'patient' %> :
    <%= "#{@basic_demographic.patient.first_name} #{@basic_demographic.patient.last_name}"%>
  </div>
  <div class="field">
    <%= t 'file_number' %><br>
    <%= f.number_field :file_number ,:class=>"reverse-dir", :onchange => "checkIfNumeric.call(this);" %>
  </div>
  <div class="field">
    <%= t 'private_code' %><br>
    <%= f.number_field :private_code ,:class=>"reverse-dir", :onchange => "checkIfNumeric.call(this);" %>
  </div>
  <div class="field">
    <%= t 'gender' %><br>
    <%= f.select :gender, options_for_select(BasicDemographic.genders.collect { |s| [I18n.t(s[0]), s[0]] }, selected: @basic_demographic.gender), {}, {:class=>"reverse-dir"} %>
  </div>
  <div class="field">
    <%= t 'year_of_birth' %><br>
    <%= f.number_field :year_of_birth ,:class=>"reverse-dir", :onchange => "checkIfNumeric.call(this);" %>
  </div>
  <div class="field">
    <%= t 'interview_date' %><br>
      <input type="text" id="calendar-field" class="pdate reverse-dir"  disabled><br>  
      <%= f.text_field :interview_date , {:class=>"reverse-dir"  , :disabled => "disabled"}%>
  </div>
  <div class="field">
    <%= t 'marital_status' %><br>
    <%= f.select :marital_status, options_for_select(BasicDemographic.marital_statuses.collect { |s| [I18n.t(s[0]), s[0]] }, selected: @basic_demographic.marital_status), {}, {:class=>"reverse-dir"}%>
  </div>
  <div class="field">
    <%= t 'educational_year' %><br>
    <%= f.number_field :educational_year ,:class=>"reverse-dir", :onchange => "checkIfNumeric.call(this);" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit (t 'submit', :default => "Submit"), :class => "btn btn-default smooth-scroll"%>
  </div>
<% end %>

  <script type="text/javascript">
    locale = getLocale();
    if(locale == 'fa'){
      $("#basic_demographic_interview_date").hide();
      $("#calendar-field").show();
      var objCal5 = new AMIB.persianCalendar( 'calendar-field', {
          extraInputID: 'basic_demographic_interview_date',
          extraInputFormat: 'YYYY/MM/DD'
        }
      );
    }
    else{
        $("#basic_demographic_interview_date").show();
        $("#calendar-field").hide();
        $('#basic_demographic_interview_date').datePicker({startDate:'01/01/1996'});
    }
  </script>