<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @basic_demographic.patient %>
</p>

<p>
  <strong>File number:</strong>
  <%= @basic_demographic.file_number %>
</p>

<p>
  <strong>Private code:</strong>
  <%= @basic_demographic.private_code %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @basic_demographic.gender %>
</p>

<p>
  <strong>Year of birth:</strong>
  <%= @basic_demographic.year_of_birth %>
</p>

<p>
  <strong>Interview date:</strong>
  <%= @basic_demographic.interview_date %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @basic_demographic.marital_status %>
</p>

<p>
  <strong>Educational year:</strong>
  <%= @basic_demographic.educational_year %>
</p>

<%= link_to 'Edit', edit_basic_demographic_path(@basic_demographic) %> |
<%= link_to 'Back', basic_demographics_path %>
