<section class="section section-center section-testimonial loaded">
  <div class='container'>
    
    <div class='row'>
      <div class='col-md-3'>
      </div>

      <div class='col-md-6 col-sm-6'>
      <div class='panel panel-primary '>
        <div class="panel-body">
          <p>
            <strong><%= t 'patient'%>:</strong>
            <%= "#{@basic_demographic.patient.first_name} #{@basic_demographic.patient.last_name}" %>
          </p>

          <p>
            <strong><%= t 'file_number'%>:</strong>
            <%= @basic_demographic.file_number %>
          </p>

          <p>
            <strong><%= t 'private_code'%>:</strong>
            <%= @basic_demographic.private_code %>
          </p>

          <p>
            <strong><%= t 'gender'%>:</strong>
            <%= t @basic_demographic.gender %>
          </p>

          <p>
            <strong><%= t 'year_of_birth'%>:</strong>
            <%= @basic_demographic.year_of_birth %>
          </p>

          <p>
            <strong><%= t 'interview_date'%>:</strong>
            <%if request.fullpath == url_for( :locale => 'en' )%>
              <%= @basic_demographic.interview_date.strftime "%A %d %B %Y"%>
            <%else%>
              <%= @basic_demographic.interview_date.to_parsi.strftime "%A %d %B %Y"
%>
            <%end%>
          </p>

          <p>
            <strong><%= t 'marital_status'%>:</strong>
            <%= t @basic_demographic.marital_status %>
          </p>

          <p>
            <strong><%= t 'educational_year'%>:</strong>
            <%= @basic_demographic.educational_year %>
          </p>
        </div>
      </div>

      <%= link_to (t 'edit'), edit_patient_basic_demographic_path(@patient,@basic_demographic), :class => "btn btn-primary" %>
      <%= link_to (t 'back'), patient_path(@patient), :class => "btn btn-primary" %>
      </div>
      <div class='col-md-3'>
      </div>
    </div>
  </div>
</section>