

<header id="header" class="site-header">
  <nav id="topbar" class="site-topbar visible-lg visible-md">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <%= t 'nav_bar_text' %>
        </div>
	      <div class="social-links col-sm-6">
			    <!-- <a href="#"><i class="fa fa-facebook"></i></a>
			    <a href="#"><i class="fa fa-twitter"></i></a>
			    <a href="#"><i class="fa fa-google-plus"></i></a>
			    <a href="#"><i class="fa fa-pinterest"></i></a> -->

          <%if request.fullpath == url_for( :locale => 'en' )%>
            <%=link_to 'Persian', url_for( :locale => 'fa' )%>
          <%else%>
            <%=link_to 'English', url_for( :locale => 'en' )%>
          <%end%>
          
			  </div>
      </div>
    </div>
  </nav>

  <nav id="navbar" class="site-navbar navbar navbar-static-top one-page-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <% if current_user %>
        <h1 class="navbar-brand"><i class="fa"><%= link_to t('profile'), current_user.profile, :class => "btn btn-link smooth-scroll" %></i></h1>
        <h1 class="navbar-brand"><i class="fa"><%= link_to (t 'exit'), destroy_user_session_url , :method => :delete, :class => "btn btn-link smooth-scroll" %></i></h1>


        <% else %>
        <h1 class="navbar-brand"><i class="fa"><%= link_to (t 'devise.shared.links.sign_in'), new_user_session_url, :class => "btn btn-link smooth-scroll" %></i></h1>
        <h1 class="navbar-brand"><i class="fa"><%= link_to (t 'devise.shared.links.sign_up'), new_user_registration_url, :class => "btn btn-link smooth-scroll" %></i></h1>
        <% end %>

		  </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul id="navigation" class="nav navbar-nav navbar-right">
          <% unless current_page?(welcome_index_url) %>
			     <li class="active"><%= link_to (t 'home'), welcome_index_url %></li>
          <% end %>

          <% if current_user %>
          <!-- write code for active users here -->
            <% if (current_user.admin || current_user.supervisor)  && !current_page?(clinics_url) %>
              <li class="active"><%= link_to (t 'clinics'), clinics_url %></li>
            <% end %>

            <% unless current_page?(tasks_url)%>
              <li class="active"><%= link_to (t 'tasks_list'), tasks_url %></li>
            <% end %>

            <% unless current_page?(patients_url) || ! current_user.has_related_patient? %>
              <li class="active"><%= link_to (t 'patients_list'), patients_url %></li>
            <% end %>

            <% unless current_page?(studies_url)%>
              <li class="active"><%= link_to (t 'studies_list'), studies_url %></li>
            <% end %>

            <% unless current_page?(ddt_questions_url)%>
              <li class="active"><%= link_to (t 'ddt_questions_list'), ddt_questions_url %></li>
            <% end %>

            <% if current_user.current_task  && !current_page?(current_user.current_task) %>
              <li class="active"><%= link_to (t 'current_task'), current_user.current_task %></li>
            <% end %>

            
          <% end %>
			  </ul>
      </div>
    </div>
  </nav>
</header>